.container{
    position:fixed;
    width: 100%;
    height: 100%;
}
.track-container{
    width:360px;
    height: 700px;
    margin:auto;
    padding: 0px;
    z-index: 10;
}
.track{
    width:116px;
    height: 110%;
    margin-top: -100px;
    z-index: -10;
    border-right: 1px solid grey;
    
    display: inline-block;
}
.track-dark{
    background-color: black;
}
.track-light{
    background-color: honeydew;
}
.track img{
    width: 30px;
    height: 60px;
    margin:0px 37px;
    position: absolute;
}
#myCar{
    position: absolute;
    bottom: 25px;
}
.score-card{
    position: absolute;
    color:white;
    font-weight: bold;
    letter-spacing:1px;
    text-transform: uppercase;
    z-index: 999;
}